# Compiled files.
__pycache__
*.py[cod]
*.dll
*.so

# Packaging outputs.
/*.egg
/*.egg-info
/build
/dist

# Common development environment.
/.env*
/venv
/env

# Common IDEs.
/.vs
/.vscode

/suma/LookupTables
/suma/test/TestData/test_testsuite
